body {
    background-color: brown;
    font-size: 1.25rem;
    font-family: monospace;
}

h1,
h2,
h3 {
    color: cadetblue;
}

p {
    color: aliceblue;
}

a {
    text-decoration: none;
    background-color: aquamarine;
    padding: 0.4em 0.8em;
    border-radius: 15px;
}

ul~img {
    max-width: 150px;
}